html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#stage {
	width: 100%;
	height: 100%;

	background-image: url("images/sn.gif");
	background-size: cover;
}
#play {
	position: absolute;
	width: 105px;
	height: 105px;

	top: 60%;
	left: 50%;

	top: calc(50% - 52px);
	left: calc(50% - 52px);
}

.state1 {
	background-image: url("images/play.png");
}

.state2 {
	background-image: url("images/play-click.png");
}
