html {
	background: url(images/sn.gif) no-repeat center center fixed;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover; background-size: cover;
}



#play {
	position: absolute;
	height: 30%;
	width: 30%;
	-webkit-background-size: cover;
	
	top: 30%;
	left: 50%;

	top: calc(30% - 52px);
	left: calc(50% - 52px);
}

.state1 {
	background-image: url("images/play.png");
}

.state2 {
	background-image: url("images/play-click.png");
}
